<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Explore the Litter!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Litterboard</h2>
      <p>Check how other users are doing in the quest to free the City of Dallas from litter, and other problems. </p>
      <p><a class="btn btn-secondary" href="/leaderboard" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Report Litter</h2>
      <p>Seen any litter you'd like to report? Do it here, and our users will get rid of it.</p>
      <p><a class="btn btn-secondary" href="/new" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Look Around</h2>
      <p>Want to see whats around you? Look no further.</p>
      <p><a class="btn btn-secondary" href="/map" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->