<div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"></div></div><div align="center"><h4>Top Doers</h4></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
              <thead>
                <tr role="row"><th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 55px;" aria-sort="descending">Name</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Affiliation: activate to sort column ascending" style="width: 63px;">Affiliation</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Location: activate to sort column ascending" style="width: 48px;">Location</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Points: activate to sort column ascending" style="width: 48px;">Points</th></tr>
              </thead>
              <tbody>
                <%@users.sort%>
                <%@users.each do |user|%>
                  <tr role="row" class="odd">
                    <td class="sorting_1"><%=user.username%></td>
                    <td><%=user.affiliation%></td>
                    <td>San Francisco</td>
                    <td><%=user.points%></td>
                  </tr>
                <% end %>
                <!-- 
              <tr role="row" class="odd">
                  <td class="sorting_1">Zorita Serrano</td>
                  <td>Software Engineer</td>
                  <td>San Francisco</td>
                  <td>56</td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">Zenaida Frank</td>
                  <td>Software Engineer</td>
                  <td>New York</td>
                  <td>63</td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">Yuri Berry</td>
                  <td>Chief Marketing Affiliationr (CMO)</td>
                  <td>New York</td>
                  <td>40</td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">Vivian Harrell</td>
                  <td>Financial Controller</td>
                  <td>San Francisco</td>
                  <td>62</td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">Unity Butler</td>
                  <td>Marketing Designer</td>
                  <td>San Francisco</td>
                  <td>47</td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">Timothy Mooney</td>
                  <td>Affiliation ManPointsr</td>
                  <td>London</td>
                  <td>37</td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">Thor Walton</td>
                  <td>Developer</td>
                  <td>New York</td>
                  <td>61</td>
                </tr><tr role="row" class="odd">
                  <td class="sorting_1">Tatyana Fitzpatrick</td>
                  <td>Regional Director</td>
                  <td>London</td>
                  <td>19</td>
                </tr><tr role="row" class="even">
                  <td class="sorting_1">Suki Burks</td>
                  <td>Developer</td>
                  <td>London</td>
                  <td>53</td>
                </tr> --></tbody>
            </table></div></div>